.login-help-line {
    font-family: "Inter";
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130.02%;
    color: #393939;
    margin-top: 14px;
    & > p {
      margin: 0;
      cursor: default;
      & > a {
        color: #33a9e0;
        cursor: pointer;
      }
    }
  }