.login-wrapper {
  height: auto;
  width: 402px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    & > h3 {
      cursor: default;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      margin: 0;
      margin-bottom: 34px;
      color: #393939;
    }

    .login-input-wrap {
      padding-bottom: 22px;
      position: relative;
      & > h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130.02%;
        color: #393939;
        margin: 0;
        margin-bottom: 8px;
        cursor: default;
      }

      & > span {
        display: flex;
        position: relative;
        & > svg {
          position: absolute;
          top: 10px;
          right: 9px;
          cursor: pointer;
        }
      }

      & > input,
      & > span > input {
        box-sizing: border-box;
        width: 100%;
        background: #f5f7f9;
        border: 1px solid #8c8c8c;
        border-radius: 5px;
        outline: none !important;
        padding: 12px 14px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130.02%;
        color: #525252;

        &.error {
          color: #ff7171 !important;
          border: 1px solid #ff7171 !important;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
      }

      & > p {
        margin: 0;
        cursor: default;
        position: absolute;
        right: 0;
        margin-top: 4px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130.02%;
        text-align: right;
        color: #ff7171;
      }
    }

    .login-help-line {
      font-family: "Inter";
      height: 23px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 130.02%;
      color: #393939;
      margin-top: 14px;
      & > p {
        margin: 0;
        cursor: default;
        & > a {
          color: #33a9e0;
          cursor: pointer;
        }
      }
    }
  }
}
